/* import local css */

@import url('../css/reset.css');
@import url('../css/variables.css');

*{
    font-family: var(--primary-kr);
    font-weight: 300;
}

body{
    margin: 0;
    color: var( --dark-black);
    line-height: 1.5em;
    font-size: 14px;
}


/* ----Common CSS---- */

/* Layout Css */

.container{
    /* border: 1px solid #000; */
    position: relative; 
}

.preloading,
.signin,
.signup{
    height: 100vh;
}

.category .gnb a:nth-child(1),
.search .gnb a:nth-child(2),
.front .gnb a:nth-child(3),
.mypage .gnb a:nth-child(4),
.cart .gnb a:nth-child(5){
    color: var(--crimson);
}


/* Logo Css */

.logo{
    font-family: var(--logo-en);
}

/* Button Css */
.btn-primary{
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    padding: 8px;
}

/* GNB Css */
.gnb{
    border-top: 1px solid var(--cloudy-gray);
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0; 
    width: 100%;
    background-color: #fff;
}
.gnb a{
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gnb a:nth-child(1) .bi ,
.gnb a:nth-child(4) .bi{
    font-size: 26px;
}

.gnb a .bi{
    font-size: 22px;
}
.gnb a span{
    display: block;
}

/* Main Header Css */

.main-header{
    height: 80px;
    background-color: var(--yellowgreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-back{
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    flex: 1;
}
.main-header .logo{
    color: #fff;
    font-size: 26px;
    margin: 0;
    flex: 6;
    text-align: center;
}
.user-alarm{
    flex: 1;
    color: #fff;
    font-size: 22px;
}
.user-alarm span,
.cart-alarm b
{
    position: relative;
    width: 30px;
    margin: auto;
}
.user-alarm span .bi{}
.user-alarm span em,
.cart-alarm b em{
    width: 15px;
    position: absolute;
    height: 15px;
    background: var(--royalblue);
    border-radius: 50%;
    right: -4px;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-alarm b em{
    color: #fff;
    top: 0;
    right: -3px;
}

.user-alarm span em::before,
.cart-alarm b em::before{
    content: attr(data-count);
    font-style: normal;
    font-size: 10px;
    font-family: var(--primary-en);
}

/* Content padding */

[class*=content] {
    padding: 20px;
    margin-bottom: 65px;
}

/* CheckBox  */

.custom-chk label input[type=checkbox]{
    display: none;
}
.custom-chk label input[type=checkbox] + em{
    width: 16px;
    height: 16px;
    display: inline-block;
    transform: translateY(5px);
}
.custom-chk label input[type=checkbox] + em::before{
    content: '\F26B';
    font-family: bootstrap-icons;
    font-style: normal;
    color: var(--dark-gray);
    transform: translateY(-3px);
    display: inline-block;
}
.custom-chk label input[type=checkbox]:checked + em::before{
color: var(--crimson);
}

/* Clear btn */

.btn-all-clear{
    font-size: 11px;
    background-color: var(--gainsboro);
    color: #fff;
    border-radius: 20px;
    padding: 2px 8px;
}
.btn-clear{
    background-color: transparent;
    font-size: 18px;
    color: var(--silver-gray);
} 


/* Badge */
.badge{
    font-size: 10px;
    text-transform: uppercase;
    font-family: var(--primary-en);
    font-weight: normal;
    border-radius: 10px;
    padding: 0 5px;
    color: #fff;
}
.badge.new{
    background-color: var(--turquoise);
}
.badge.hot{
    background-color: var(--crimson);
}

.info-badge{
    font-size: 12px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 1px 7px;
}

.info-badge.arrival{
    border-color: var(--crimson);
    color: var(--crimson);
}
/* ----preloading---- */

.container.preloading{

}
.preloading-inner{
    height: inherit;
    background: url(../img/preloading-back2.jpg) no-repeat center left;
    position: relative;
    background-size: cover;
}
.heading-preloading{
    position: absolute;
    top: 499px;
    left: 41px;
}
.heading-preloading .logo{
    font-size: 32px;
    color: var(--crimson);
    white-space: nowrap;
}
.slogan{}
.slogan span{
    display: block;
    font-family: var(--secondary-kr);
    font-size: 28px;
    margin: 15px 0;
}


/* ----Signin html---- */

.signin{

}
.signin-inner{
    
}
.signin-photo{
    height: 250px;
    background: url(../img/signin-header.jpg) no-repeat;
    background-size: cover;
}
.signin-content{
    padding: 20px;
}
.signin-header{
    text-align: center;
}
.signin-header .logo{
    font-size: 26px;
    margin-bottom: 0;
}
.signin-header p{
    font-size: 16px;
    font-weight: 400;
}
.signin-filed{}
.signin-filed input{
    border: 1px solid var(--gainsboro);
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    margin: 5px 0;
}
.signin-filed input:focus{
    border-color: var(--yellowgreen);
}
.signin-filed input::placeholder{
    color: var(--silver-gray)
}
.status {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.status label{}

.btn-signin{
    background-color: var(--yellowgreen);
}
.join-member{
    text-align: center;
    margin: 15px 0;
}
.join-member a{
    text-decoration: underline;
}
.easy-signin{
    text-align: center;
}
.easy-signin span{
    color: var(--light-gray);
}
.social-btn{
    margin: 10px 0;
}
.social-btn a{
    margin: 2px;
}

/* ----Signup html---- */
.signup{}
.signup-inner{}
.signup-content{}
.sign-up-filed{
    margin-bottom: 10px;
}
.sign-up-filed span{
    display: block;
}
.sign-up-filed span em{
    color: var(--crimson);
}
.sign-up-filed.id-pw input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--gainsboro);
    padding: 8px 0;
}
.sign-up-filed.id-pw input::placeholder{
    color: var(--silver-gray);
}
.sign-up-filed.birth{}
.sign-up-filed.birth div{
    display: flex;
    gap: 10px;
}
.sign-up-filed.birth div > *, .sign-up-filed.phone div > *{
    width: 33.333%;
    border: 1px solid var(--gainsboro);
    border-radius: 3px;
    padding: 7px;
    text-align: center;
    color: var(--silver-gray);
}
.sign-up-filed.phone{}
.sign-up-filed.phone div{
    display: flex;
    gap: 10px;
}
.sign-up-filed.phone div input{
    flex: 7;
}
.sign-up-filed.phone span,
.sign-up-filed.birth span{
    margin-bottom: 5px;
}

.btn-getcode{
    flex: 3;
    background-color: #fff;
}

.agree-term{
    margin-bottom: 15px;
}

.agree-term label{
    display: block;
    font-size: 13px;
}
.agree-term label input[type=checkbox] {} 
.agree-term label input[type=checkbox] +  em{}

.btn-sign-up{
    background-color: var(--yellowgreen);
}

.sign-up-filed.id-pw input:focus,
.sign-up-filed.birth div > *:focus,
.sign-up-filed.phone div input:focus{
    border-color: var(--yellowgreen);
}

/* placeholder hidden */

/* .sign-up-filed.id-pw input:focus::placeholder,
.sign-up-filed.birth div > *:focus::placeholder,
.sign-up-filed.phone div input:focus::placeholder{
    visibility: hidden;
} */

/* ----Category html---- */
.category{}
.category-inner{}
.category-content{
    padding: 0;
}
.category-accordion{
    font-size: 16px;
}
.category-accordion .title{
    border-bottom: 1px solid var(--cloudy-gray);
    height: 50px;
    display: flex;
    align-items: center;
    color: var(--crimson);
    font-weight: 400;
    position: relative;
    padding: 0 20px;
}
.category-accordion .title::after,.user-shortcut a::after{
    content: "\F282";
    font-family: bootstrap-icons;
    background-color: var(--fuchsia);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-style: 13px;
    text-align: center;
    position: absolute;
    right: 20px;
}
.user-shortcut a::after{
    transform: rotate(270deg);
}

.category-accordion .title.active::after{
    background-color: transparent;
    transform: rotateX(180deg);
}
.category-accordion .detail{
    display: none;
    line-height: 2em;
    padding: 7px 0;
    background-color: var(--snow);
    padding: 0 20px;
}
.category-accordion .detail a{
    display: block;
    padding: 2px 0;
}

/* ----Search html---- */
.search{}
.search-inner{}
.search-content{}
.search-field{}
.search-field input{
    padding: 8px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background: var(--snow) url('../img/icon-search.svg') no-repeat center left 15px;
    padding-left: 40px;
}
.search-recent{
    margin: 25px 0;
}
.search-recent .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-recent .title h3{
    margin: 0;
    color: var(--crimson);
    font-size: 16px;
}
.search-recent .items{
    margin: 15px 0;
} 
.search-recent .items .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var( --cloudy-gray);
    padding: 8px ;
} 
.search-recent .items .item span{}

.search-increase{}
.search-increase .title{}
.search-increase .title h3{
    font-size: 16px;
    margin-bottom: 5px;
}
.search-increase .title p{
    padding: 0;
}
.search-increase-list{
    list-style: none;
    padding-left: 0px;
    counter-reset: rank 0;
    line-height: 2em;
    font-size: 15px;

}
.search-increase-list li::before{
    counter-increment: rank;
    content: counter(rank);
    margin-right: 10px;
    font-weight: 400;
}

/* ----Mypage html---- */
.mypage{}
.mypage-inner{}
.mypage-content{
    padding: 0;
}
.user-info{
    padding: 20px;
    display: flex;
    gap: 5px;
}
.user-avatar{
    flex: 1;
}
.user-avatar img{
    width: 60px;
    border-radius: 50%;
}
.user-summary{
    flex: 4;
}
.user-summary .rating{

}
.user-summary .rating b{
    font-weight: 500;
    text-transform: uppercase;
    color: var(--limegreen);
}
.user-summary .rating span{
    font-weight: 400;
}
.btn-setting{
    float: right;
    background: transparent;
    font-size: 20px;
    color: var(--silver-gray);
    transform: translateY(-5px);
}
.nickname{
    font-size: 18px;
    margin-top: 5px;
}
.point-coupon{
    display: flex;
    gap: 5px;
}

.point-coupon div{
    background-color: var(--cloudy-gray);
    border-radius: 20px;
    text-align: center;
    padding: 2px 15px;
    display: flex;
    justify-content: space-between;
}
.point-coupon div span{
  font-style: 13px;
  font-weight: normal;
}
.point-coupon div span:first-child{}
.point-coupon div span:last-child{
    color: var(--crimson);
}
.point-coupon .point{
    flex: 3;
}
.point-coupon .coupon{
 flex: 1;
}
.delivering{
    padding: 20px;
}
.delivering h2{
    font-size: 16px;
}

.delivering-items{
    border: 1px solid var(--cloudy-gray);
    padding: 15px;
    border-radius: 5px;

}
.delivering-item{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid var(--cloudy-gray);
    padding: 10px 0;
}
.delivering-item:first-child{
    padding-top: 0;
}
.delivering-item:last-child{
    border: none;
    padding-bottom: 0;
}
.delivering-item .thum{
    width: 60px;
    height: 60px;
}
.delivering-item .thum img{
    object-fit: cover;
    width: inherit;
    height: inherit;
    border-radius: 5px;
}
.delivering-item .desc{}
.delivering-item .desc span{
    font-weight: normal;
}
.delivering-item .desc b{
    display: block;
    color: var(--limegreen);
    font-weight: 400;
    font-size: 16px;
}
.mypage .banner{}
.mypage .banner a{}
.mypage .banner a img{
    width: 100%;
}
.user-shortcut{}
.user-shortcut a{
    display: block;
    border-bottom: 1px solid var(--cloudy-gray);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 15px;
}

.user-shortcut a:last-child{
    border: none;
}

.user-shortcut a span{
    font-weight: 400;
    margin-left: 5px;
}

.user-shortcut a .bi{
    width: 25px;
    text-align: center;
}

.user-shortcut a:nth-child(5) .bi{
    font-size: 20px;
}

.btn-signout{
    background-color: var(--gainsboro);
    width: 80%;
    margin: 10px auto;
    display: block;
}

/* ----Cart html---- */

.cart{}
.cart-inner{}
.cart-content{
    padding: 0;
}
.cart-items-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
}
.cart-items-header h3{
    margin: 0;
    font-size: 16px;
}
.cart-items-summary{
    padding: 20px;
}
.cart-items-summary div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-items-summary div:last-child{
    border-top: 1px solid var(--cloudy-gray);
    padding-top: 15px;
}

.cart-items-summary div:last-child span:last-child{
    font-size: 20px;
}
.cart-items-summary  div span{
    font-size: 15px;
}
.cart-items-summary  div span:first-child{
    font-weight: normal;
}
.cart-items-summary  div span:last-child{
    font-weight: 500;
}

.btn-order{
    background: var(--royalblue);
    border-radius: 0;
}

.cart-notice{
    font-size: 13px;
    color: var(--light-gray);
    list-style: none;
    padding-left: 18px;
}
.cart-notice li::before{
    content: '-';
    margin-right: 5px;
}

.cart-items{
 
}

.cart-item{
    padding: 20px;
    border-bottom: 1px solid var(--cloudy-gray);
}

.cart-item-title{
    display: flex;
    align-items: flex-start;
    gap: 5px
}

.cart-item-title input[type=checkbox]{
    width: 50px;
    height: 50px;
    transform: translateY(-8px);
}


.cart-item-title .btn-clear{
    transform: translateY( 5px, -5px);
    font-size: 20px;
}

.cart-item-desc{
    display: flex;
    gap: 10px;
}
.cart-item-thum{
    width: 80px;
    height: 80px;
    flex: 1;
}
.cart-item-thum img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 5px;
}
.cart-item-info{
    flex: 3;
}
.cart-item-info span{
    display: block;

}
.delivery-date{
    color: var(--limegreen);
    font-weight: normal;
}
.delivery-time{
    margin: 8px 0;
}

.delivery-time i{
    margin-right: 2px;
}
.total-price{
    font-size: 18px;
    font-weight: normal;
}
.cart-item-info .benefit{
    background-color: hsl(56, 88%, 58%, 0.4);
    border-radius: 3px;
    margin: 10px 0;
}
.cart-item-info .benefit em{
    font-style: normal;
    font-size: 12px;
    margin-left: 5px;
}

.cart-item-info .benefit em::before{
    content: '\F26E';
    font-family: bootstrap-icons;
    font-size: 16px;
    transform: translateY(4px);
    display: inline-block;
}

/* custom-select */
.custom-select{
    width: 70px;
    height: 30px;
    border: 1px solid var(--cloudy-gray);
    background-color: var(--snow);
    display: flex;
    align-items: center;
    position: relative;
}
.custom-select::after{
    position: absolute;
    content: '\F229';
    font-family: bootstrap-icons;
    right: 10px;
    font-size: 12px;
    top: 5px;
    border-left: 1px solid var(--cloudy-gray);
    padding-left: 8px;
    pointer-events: none;
}

.custom-select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    width: 100%;
    background-color: transparent;
    padding-left: 16px;
}


/* ----Front html---- */

.front{}
.front-inner{}
.front-content{
    padding: 0;
    overflow-x: hidden;
}

/* Categoty Nav */
.category-navigation{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.category-navigation a{
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
}

.category-navigation a.active{
    border-bottom: 3px solid var(--crimson);
    color: var(--crimson);
}

/* Front Banner */

.front .banner a img{
    width: 100%;
}

/* Front Slider */
.front-slider{
   
}
.front-slider a{}
.front-slider a img{
    width: 100%;
}

/* Slick Slider Custom Css */
.front-slider .slick-arrow{
    z-index: 100;
}
.front-slider .slick-prev{
    left: 15px;
}
.front-slider .slick-next{
    right: 15px;
}

.front-slider .slick-prev:before,
.front-slider .slick-next:before{
    color: #000;
    font-family: bootstrap-icons;
    zoom: 1.5;
    content: '\F285';
    display: block;
}

.front-slider .slick-prev:before{
    transform: rotateY(180deg);
}

/* Goods-Suggestion */
.goods-suggestion{
    padding: 20px;
}
.goods-suggestion h2{
    font-size: 18px;
    line-height: 1.4em;
}
.goods-suggestion h2 span{
    display: block;
    font-size: 14px;
    color: var(--dark-gray);
}
.goods-suggestion-items{
    width: calc(var(--slide-basis) * 1.15);
    margin-bottom: 15px;
}
.goods-suggestion-item{}
.goods-suggestion-item .thum{
    width: calc(var(--slide-basis) * 0.36);;
    height: calc(var(--slide-basis) * 0.48);
}
.goods-suggestion-item .thum img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}

.goods-suggestion-item .desc{
    width: 135px;
}
.goods-badge{}

.goods-title{}
.goods-title h3{
    font-size: 13px;
    line-height: 1.2em;
    font-weight: normal;
    margin-bottom: 5px;
}
.goods-title div{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.goods-title div span{
    color: var(--crimson);
}
.goods-title div b{
    font-weight: normal;
}
.goods-title div s{
    color: var(--silver-gray);
}

.btn-goods-suggestion-more{
    border: 1px solid var(--crimson);
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 7px;
    border-radius: 25px;
    font-weight: normal;
}

/* Popular Goods Tab Menu Content */

.food-type{
    margin-top: 30px;
}
.food-type-tab-inner{}
input[name=food-type-tabmenu]{
    display: none;
}
.food-type-tab-btn{
    height: 40px;
    background-color: var(--light-beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food-type-tab-btn label{
    flex: 1;
    text-align: center;
}
.food-type-tabs{
    padding: 20px;
}
.food-type-tab{
    display: none;
    counter-reset: rank;
}
/* Foot Type Checked Function */

input[id=food-type-tab1]:checked  ~ .food-type-tab-btn label[for=food-type-tab1],
input[id=food-type-tab2]:checked  ~ .food-type-tab-btn label[for=food-type-tab2],
input[id=food-type-tab3]:checked  ~ .food-type-tab-btn label[for=food-type-tab3],
input[id=food-type-tab4]:checked  ~ .food-type-tab-btn label[for=food-type-tab4],
input[id=food-type-tab5]:checked  ~ .food-type-tab-btn label[for=food-type-tab5],
input[id=food-type-tab6]:checked  ~ .food-type-tab-btn label[for=food-type-tab6]
{
    color: var(--crimson);
}

input[id=food-type-tab1]:checked  ~ .food-type-tabs .tab1,
input[id=food-type-tab2]:checked  ~ .food-type-tabs .tab2,
input[id=food-type-tab3]:checked  ~ .food-type-tabs .tab3,
input[id=food-type-tab4]:checked  ~ .food-type-tabs .tab4,
input[id=food-type-tab5]:checked  ~ .food-type-tabs .tab5,
input[id=food-type-tab6]:checked  ~ .food-type-tabs .tab6
{
    display: block;
}

.tab-item{
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
}
.tab-item .thum{
    width: 110px;
    height: 90px;
    position: relative;
    
}
.tab-item .thum::before{
  counter-increment: rank;
  content: counter(rank);
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: 5px  0 0 0;
  padding-top: 4px;
}



.tab-item .thum img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 5px;
}
.tab-item .desc{
    flex: 3;
}

.tab-item .desc .badge-wish{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.wish{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

.wish::before{
    content: '\F417';
    font-family: bootstrap-icons;
    color: var(--silver-gray);
}

.wish.active::before{
    content: '\F415';
    font-family: bootstrap-icons;
    color: var(--crimson);
}

.tab-item .goods-title div{
    justify-content: flex-start;
    gap: 10px;
}


/* Front Footer */

.front-footer{
    padding: 20px;
    background-color: var(--cloudy-gray);
}

.front-footer h3{
    font-size: 16px;
    margin-bottom: 0;
}

.company-link{
    margin: 5px 0;
}

.company-link a {
    margin-right: 3px;
}
.company-link a::after{
    content: '|';
    color: var(--silver-gray);
    font-size: 10px;
    padding-left: 10px;
    display: inline-block;
    transform: translateY(-2px);
}
.company-link a:last-child::after{
    display: none;
}

.company-info-title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.company-info-title h3{
    margin: 0;
    font-size: 16px;
}

.btn-view-more{

}

.btn-view-more:after{
    content: '\F282';
    font-family: bootstrap-icons;
    margin-left: 2px;
    display: inline-block;
    transform: translateY(2px);
}

.company-info-more{
    display: none;
}
.company-info-more span{
    display: block;
}


/* ----Goods Detail Html---- */

/* Goods Detail Header */

.goods-detail-header{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goods-detail-header > * {

}

.goods-detail-header .back-logo{
    display: flex;
    align-items: center;
}
.goods-detail-header .back-logo .btn-back{
    color: #000;
}

.goods-detail-header .back-logo .logo{
    margin: 0;
    font-size: 24px;
}

.goods-detail-header .navigator{
    margin-right: 10px;
}

.goods-detail-header .navigator button{
    background-color: transparent;
    font-size: 24px;
    color: var(--dark-gray);
}

.goods-detail-header .navigator b em{
    top: 3px;
    right: -3px;
}

.goods-detail-slider-outer{
   position: relative;
}

.btn-share{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    background-color: #fff;
}
.goods-detail-slider.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.goods-detail{}
.goods-detail-inner{}
.goods-detail-content{
    padding: 0;
}


/* Goods Detail Slider */
.goods-detail-slider{}
.goods-detail-slider a{
    height: 350px;
    width: 100%;
}
.goods-detail-slider a img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.goods-detail-slider .slick-dots{
    bottom: 15px;
}

.slick-dots li button:before{
    color: #fff;
    opacity: 1;
}
.slick-dots li.slick-active button:before{
    color: var(--crimson);
}

.goods-detail-slider  .slick-dots li{
    margin: 0;
    width: 15px;
    height: 15px;
}

/* Good Info */
.goods-info{
    padding: 20px;
}
.goods-rating{
    display: flex;
    justify-content: flex-end;
}
.stars{}
.stars .bi{
    color: var(--gold);
}
.stars em{
    font-style: normal;
    font-size: 13pz;
    color: var(--royalblue);
}

.goods-info .goods-title h3 {
    font-size: 16px;
    margin: 10px 0;
}

.goods-info .goods-title div{
    justify-content: flex-start;
    font-size: 20px;
    gap: 15px;
    margin-top: 25px;
}

.goods-info .goods-title div span{
    margin-right: auto;
}
.goods-delivery-info{
    display: flex;
    margin: 25px 0;
    border-top: 1px solid var(--cloudy-gray);
    border-bottom: 1px solid  var(--cloudy-gray);
    padding: 20px 0;
    gap: 10px;
    margin-top: 15px;
}
.goods-delivery-info b{}
.goods-delivery-info div{}
.goods-delivery-info div span{
    display: block;
}

.goods-delivery-info div span em{
    font-style: normal;
    color: var(--cloudy-gray);
}

/* Goods Detail */

.good-detail img{
    width: 100%;
}

.good-detail p{
    padding: 20px;
    text-align: center;
}

/* Goods Accordion */

.goods-accordion{}
.goods-accordion .title{
    border-bottom: 1px solid var(--cloudy-gray);
    height: 40px;
    font-weight: normal;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.goods-accordion .title.active{
 color: var(--crimson);   
}


.goods-accordion .title::after{
    content: "\F64D";
    position: absolute;
    font-family: bootstrap-icons;
    right: 20px;
}

.goods-accordion .title.active::after{
    content: "\F63B";
}
.goods-accordion .detail{
    display: none;
}

.goods-accordion .detail img{
    width: 100%;
}
.detail-review-list{
    padding: 0 16px;
}

.detail-review-list li{
    border-bottom: 1px solid var(--cloudy-gray);
    padding-bottom: 14px;
    margin-top: 15px;

}
.detail-review-list li:last-child{
    border: none;
}

.detail-review-list li .review{
    width: 275px;
}

.detail-review-list li .stars .bi{
    color: var(--dark-gray);
}

/* Goods Order Info */
.goods-order-info{
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -5px 5px rgb(0, 0, 0, 0.05);
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
.goods-order-choice{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.goods-order-choice .wish{
    font-size: 30px;
    flex: 1;
}
.btn-order-choice{
    background-color: var(--royalblue);
}
.goods-order-btns{
    display: flex;
    gap: 10px;
}
.btn-cart{
    border: 1px solid var(--royalblue);
    background-color: #fff;
    color: var(--royalblue);
}
.btn-now-order{
    background-color: var(--royalblue);
}

.payment-benefit{
    font-size: 13px;
    margin: 20px 0;
}
.payment-benefit b{
  font-weight: normal;
}

.payment-benefit p{
 color: var(--light-gray);
 text-align: left;
 margin: 0;
}

.payment-benefit p a{
    text-decoration: underline;
    display: block;
}

.goods-order-final{
    position: relative;
    display: none;
    z-index: 1000;
}
.goods-order-final-info{

}
.goods-order-final-info .goods-title {
    margin: 20px 0;
}
.goods-order-final-info .goods-title h3{
    font-size: 16px;
}
.goods-order-final-info .goods-title>div{
    font-size: 20px;
    margin-top: 15px;
}

.btn-fold{
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: -20px;
    color: var(--dark-gray);
}

.overlay-fold{
    display: none;
    position: fixed;
    width: 375px;
    height: 100vh;
    top: 0;
    left: 0;
}


/* Responsive Suggestion Item  */

@media (min-width : 400px) {
    :root{
        --slide-basis : 420px;
    }
}

@media (min-width : 768px) and (max-width : 1024px) {
    :root{
        --slide-basis : 820px;
    }
}

